<a href="https://colab.research.google.com/github/Falnofall/Dasar-Python/blob/main/variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**VARIABLE**

Variable adalah letak penyimpanan dan terkait nama simbolis yang berisi beberapa kuantitas yang diketahui atau tidak diketahui atau informasi, nilai.

In [ ]:
#Ini adalah contoh variable bertype string

a="ini adalah variable"
print(a)
type(a)

ini adalah variable

str

**INTEGER**

Integer adalah angka numerik yang dapat berupa nilai positif, negatif, atau nol tanpa memiliki angka desimal

In [ ]:
#Ini adalah contoh integer

a = 10
print(a)
type(a)

10

int

**FLOAT**

Float adalah angka numerik sama seperti integer , namun ada sedikit perbedaan, yaitu adanya angka desimal

In [ ]:
#Ini adalah contoh float

a = 3.14
print(a)
type(a)

3.14

float

**STRING**

String adalah kumpulan beberapa karakter atau integer. String tersebut direpresentasikan dengan menggunakan tanda quotes (double ataupun single).

In [ ]:
#Ini adalah contoh string

a = "Naufal" #nama saya sendiri
print(a)
type(a)

Naufal

str

**BOOLEAN**

Boolean adalah operator biner yang hanya memiliki dua nilai output yaitu True atau False.

In [ ]:
#Ini adalah contoh boolean

a = False
print(a)
type(a)

False

bool

**NONTYPE**

NoneType digunakan ketika variable tidak memiliki nilai

In [ ]:
#Ini adalah contoh nontype

num = None
print(num)
None
type(num)

None

NoneType